---
import { CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import BlogPostTeaser from '@/components/BlogPostTeaser.astro';

const title = 'Blog';
const description = 'All articles.';
const permalink = `${Astro.site.href}blog`;
const current = 'blog';

const posts = (await getCollection('blog')).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);

---

<BaseLayout title={title} description={description} permalink={permalink} current={current}>
  <section class="py-12 md:py-20">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap -mx-4 mb-20 items-center">
        <div class="w-full lg:w-7/12 px-4 mb-8 lg:mb-0">
          <h1 class="font-heading text-4xl xs:text-6xl sm:text-8xl md:text-10xl tracking-tighter">Posts</h1>
        </div>
      </div>
      <div>
      {
        posts.map((post) => (
          <BlogPostTeaser url={`/blog/${post.slug}/`} title={post.data.title} pubDate={post.data.pubDate} category={post.data.category}, heroImage={post.data.heroImage}, description={post.data.description} />
        ))
      }
      </div>
    </div>
  </section>
</BaseLayout>
