---
import BaseLayout from '@/layouts/BaseLayout.astro';
const title = 'About me';
const description = 'I love learning and talking about people, product (development) and processes and here we are.';
const permalink = `${Astro.site.href}about`;
const current = 'about';

---

<BaseLayout title={title} description={description} permalink={permalink} current={current}>
    <section class="py-6 md:py-6 bg-coolGray-50">
        <div class="container mx-auto px-4">
            <div class="flex flex-wrap">
                <div class="max-w-sm md:max-w-xl xl:max-w-5xl mx-auto">
                    <p class="text-xl lg:text-2xl tracking-tight mb-10">
                        Hello there!
                    </p>
                    <p class="text-xl lg:text-2xl tracking-tight mb-10">
                        I'm <span class="italic text-coolGray-600">Ronald te Brake</span>, an engineering manager working at <a href="https://www.getopensocial.com" target="_blank" title="link to Open Social" class="hover:underline">Open Social</a>. Born and raised in the land of windmills, tulips, cheese and bycicles.
                    </p>
                    <p class="text-xl lg:text-2xl tracking-tight mb-10">
                        This blog is all about <span class="italic text-coolGray-600">people, product (development) and processes</span> and you'll catch me writing about these things a lot as I grow, fail and learn with everything I do. Whether that is 
                        on the clock or off. 
                    </p>
                    <p class="text-xl lg:text-2xl tracking-tight mb-10">
                        Now, when I'm not at work, you can find me enjoying life's finer things. From cheese, to a coffee, or just some good old deep conversations on life. Did you catch some of the cheesiness i've incoorporated here?
                    </p>
                    <p class="text-xl lg:text-2xl tracking-tight mb-10">
                        Take a look around, drop a comment or shoot me a message.
                        I'd love to hear from you. Let's build, learn, share and grow together.
                    </p>
                </div>
            </div>
        </div>
    </section>
</BaseLayout>