---
import BaseLayout from '../layouts/BaseLayout.astro';
const title = 'Blog';
const description = 'All articles.';
const permalink = `${Astro.site.href}blog`;
const current = 'blog';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<BaseLayout title={title} description={description} permalink={permalink} current={current}>
    <h1>All blogs</h1>
    <section>
        <ul>
            {
                posts.map((post) => (
                    <li>
                        <time datetime={post.frontmatter.pubDate}>
                            {new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'short',
                                day: 'numeric',
                            })}
                        </time>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </section>
</BaseLayout>
