---
import BaseLayout from '@/layouts/BaseLayout.astro';
const title = 'Illustrations';
const description = 'A peak in to my illustrations.';
const permalink = `${Astro.site.href}illustrations`;
const current = 'illustrations';

---

<BaseLayout title={title} description={description} permalink={permalink} current={current}>
    <h1 class="pt-64 text-6xl font-bold">All illustrations</h1>
</BaseLayout>
