---
export interface Props {
	title: string;
	description: string;
	ogImage?: string;
}

const { title, description } = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
// Split the String and replace the first and last slash.
var split = Astro.url.pathname.replace(/^\/|\/$/g, '');
// Now remove the blog prefix.
var path = split.replace("blog/", "");

var ogImage = new URL(Astro.site.origin + '/og/' + path + '.png');

// This works for all pages that are not starting with /blog
// But also fixes this for the /blog/ overview, that starts with it
// but should also not receive the blog generated OG image.
if (!Astro.url.pathname.startsWith('/blog/') || Astro.url.pathname.endsWith('/blog/')) {
 ogImage = new URL(Astro.site + "placeholder-social.webp");
}

---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<link 
  rel="preload"
  href="https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
>

<noscript>
  <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@500,300,600,400,700&display=swap"
      rel="stylesheet"
      type="text/css"
  />
</noscript>

<meta name="generator" content={Astro.generator} />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content="Ronald te Brake" />
<meta name="robots" content="index, follow" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />
<meta property="og:site_name" content="People, process and product development by Ronald te Brake." />

<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss.xml" />
<meta name="keywords" content="Engineering manager, Product development, People, Process, Drupal" />

<style>
    @view-transition {
      navigation: auto;
    }
</style>