---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
type Props = CollectionEntry<'blog'>['data'];

const { title, description, heroImage, heroImageAlt, heroImageCredit } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <div class="px-6 py-32 lg:px-8">
        <div class="mx-auto max-w-3xl text-base leading-7">
            <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue prose lg:prose-xl dark:text-primary-200 text-coolGray-600">
                <h1 class="dark:text-primary-200 text-primary-950">{title}</h1>
                {heroImage && (
                    <figure class="not-prose m-0">
                        <Image src={heroImage} class="transform w-full" alt={heroImageAlt ?? ''} />
                        {heroImageCredit && (
                            <figcaption class="mt-2 text-sm text-coolGray-500 dark:text-primary-300">
                                Photo by{' '}
                                <a href={heroImageCredit.url} rel="noopener noreferrer" target="_blank">
                                    {heroImageCredit.photoBy}
                                </a>
                                .
                            </figcaption>
                        )}
                    </figure>
                )}
                <slot />
            </article>
        </div>
    </div>
</BaseLayout>